In [ ]:
import pandas as pd
import os

# Specify the folder containing your CSV files
folder_path = '../data/csv/raw'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

# Initialize an empty list to hold DataFrames
dfs = []

# Loop through the CSV files and read them into DataFrames
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    dfs.append(df)

# Concatenate all the DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

# Check the resulting DataFrame
print(combined_df.head())

   id     CLNT_RMT_IP   ROI_CLICK_EVENT_TS  \
0   1  77.111.247.168  2020-08-02 18:37:01
1   2   66.249.73.101  2020-08-21 03:36:38
2   3  77.111.247.129  2020-08-21 03:36:38
3   4   66.249.73.101  2020-08-21 03:36:33
4   5  77.111.247.129  2020-08-21 03:36:33

                                          BRWSR_NAME  ams_trans_rsn_cd  \
0  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...                 0
1  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...                 0
2  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...                 0
3  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...                 0
4  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...                 0

   ams_pblshr_id    buyer_id  is_vpn            click_id
0     5574672411   valen_949       1  209245484389035777
1     5574672411  morbanisaf       1  209453736892211586
2     5574672411  morbanisaf       1  209453736892211586
3     5574672411  morbanisaf       1  209453736892211586
4     5574672411  morbanisaf       1  209453736892211586

In [5]:
combined_df.to_csv('../data/csv/data.csv', index=False)

In [3]:
combined_df = combined_df.drop(columns=['id', 'ams_trans_rsn_cd', 'is_vpn'])

In [1]:
import pandas as pd

df = pd.read_csv('../data/csv/data.csv')

7915

In [9]:
df = pd.read_csv('../data/csv/click_fraud_results.csv')

In [10]:
print(df['CLNT_RMT_IP'].value_counts())

CLNT_RMT_IP
155.94.160.29     25787
77.111.247.44     12133
217.146.82.84      8022
45.32.194.187      7047
45.79.54.78        6385
                  ...
46.246.8.107          1
192.142.227.20        1
146.70.173.98         1
172.226.162.12        1
193.43.69.27          1
Name: count, Length: 7915, dtype: int64

In [8]:
print(df['buyer_id'].value_counts())

buyer_id
ndeals80           8220
timhu_11           7102
ndeals60           6489
supenko2           5622
ndeals90           4889
                   ...
nigelbattersby1       1
mcc_47180             1
2005gower             1
anton-ball            1
hargotheledge         1
Name: count, Length: 465400, dtype: int64

In [13]:
is_fraud_df = df[df['is_fraud'] == 1]

In [14]:
is_fraud_df

,CLNT_RMT_IP,ROI_CLICK_EVENT_TS,ams_pblshr_id,buyer_id,fraud_cluster,is_fraud
12,159.242.227.44,2021-05-16 06:44:46,5575086808,bevann522,1,1
14,185.46.137.14,2021-08-09 07:27:28,5575407436,peri_nalan,1,1
20,146.70.83.72,2021-12-05 14:01:39,5574933636,notasoutherner,1,1
21,146.70.83.72,2021-12-05 14:01:02,5574933636,notasoutherner,1,1
22,213.166.86.117,2021-12-15 10:05:59,5575376664,nicohtk,1,1
...,...,...,...,...,...,...
1254238,172.226.114.69,2024-09-05 11:04:49,5575612316,srw38,1,1
1254239,208.115.224.233,2024-09-29 06:41:18,5575532731,katzenklo_16,1,1
1254240,138.199.29.213,2024-10-09 03:15:37,5575319207,guyver13,1,1
1254241,172.225.240.192,2024-10-27 03:30:27,5575376664,winde_-129,1,1
1254242,172.226.114.83,2024-11-03 04:57:09,5575791307,monika_pl,1,1